<div id='form'>
	<h1>How many stops will you suffer through on your MBTA trip?</h1>
	<form action='/MBTA/create' method='post'>
		<div id='first_menu'>
			Start at
			<select name='begin_trip'>
				<option value='north_station--orange'>North Station--Orange Line</option>
				<option value='harymarket_orange--orange'>Haymarket--Orange Line</option>
				<option value='park_st--orange'>Park St--Orange Line</option>
				<option value='state--orange'>State--Orange Line</option>
				<option value='downtown_crossing--orange'>Downtown Crossing--Orange Line</option>
				<option value='chinatown--orange'>Chinatown--Orange Line</option>
				<option value='back_bay--orange'>Back Bay--Orange Line</option>
				<option value='forest_hills--orange'>Forest Hills--Orange Line</option>
				<option value='south_station--red'>South Station--Red Line</option>
				<option value='park_st--red'>Park St--Red Line</option>
				<option value='kendall--red'>Kendall--Red Line</option>
				<option value='central--red'>Central--Red Line</option>
				<option value='harvard--red'>Harvard--Red Line</option>
				<option value='porter--red'>Porter--Red Line</option>
				<option value='davis--red'>Davis--Red Line</option>
				<option value='alewife--red'>Alewife--Red Line</option>
				<option value='haymarket_green--green'>Haymarket--Green Line</option>
				<option value='government_center--green'>Government Center--Green Line</option>
				<option value='park_st--green'>Park St--Green Line</option>
				<option value='boylston--green'>Boylston--Green Line</option>
				<option value='arlington--green'>Arlington--Green Line</option>
				<option value='copley--green'>Copley--Green Line</option>
			</select>
		</div>
		<div id='second_menu'>
			End at
			<select name='end_trip'>
				<option value='north_station--orange'>North Station--Orange Line</option>
				<option value='harymarket_orange--orange'>Haymarket--Orange Line</option>
				<option value='park_st--orange'>Park St--Orange Line</option>
				<option value='state--orange'>State--Orange Line</option>
				<option value='downtown_crossing--orange'>Downtown Crossing--Orange Line</option>
				<option value='chinatown--orange'>Chinatown--Orange Line</option>
				<option value='back_bay--orange'>Back Bay--Orange Line</option>
				<option value='forest_hills--orange'>Forest Hills--Orange Line</option>
				<option value='south_station--red'>South Station--Red Line</option>
				<option value='park_st--red'>Park St--Red Line</option>
				<option value='kendall--red'>Kendall--Red Line</option>
				<option value='central--red'>Central--Red Line</option>
				<option value='harvard--red'>Harvard--Red Line</option>
				<option value='porter--red'>Porter--Red Line</option>
				<option value='davis--red'>Davis--Red Line</option>
				<option value='alewife--red'>Alewife--Red Line</option>
				<option value='haymarket_green--green'>Haymarket--Green Line</option>
				<option value='government_center--green'>Government Center--Green Line</option>
				<option value='park_st--green'>Park St--Green Line</option>
				<option value='boylston--green'>Boylston--Green Line</option>
				<option value='arlington--green'>Arlington--Green Line</option>
				<option value='copley--green'>Copley--Green Line</option>
			</select>	
		</div>
			<input type='submit' value='Submit Trip'/>
	</form>
</div>