<div id='form'>
	<h1>How many stops will you suffer through on your MBTA trip?</h1>
	<form action='/MBTA/create' method='post'>
		<div id='first_menu'>
			Start at
			<select name='Begin_trip'>
			<option value='North Station Orange Line'>North Station--Orange Line</option>
			<option value='Haymarket Orange Line'>Haymarket--Orange Line</option>
			<option value='Park St Orange Line'>Park St--Orange Line</option>
			<option value='State Orange Line'>State--Orange Line</option>
			<option value='Downtown Crossing Orange Line'>Downtown Crossing--Orange Line</option>
			<option value='Chinatown Orange Line'>Chinatown--Orange Line</option>
			<option value='Back Bay Orange Line'>Back Bay--Orange Line</option>
			<option value='Forest Hills Orange Line'>Forest Hills--Orange Line</option>
			<option value='South Station Red Line'>South Station--Red Line</option>
			<option value='Park St Red Line'>Park St--Red Line</option>
			<option value='Kendall Red Line'>Kendall--Red Line</option>
			<option value='Central Red Line'>Central--Red Line</option>
			<option value='Harvard Red Line'>Harvard--Red Line</option>
			<option value='Porter Red Line'>Porter--Red Line</option>
			<option value='Davis Red Line'>Davis--Red Line</option>
			<option value='Alewife Red Line'>Alewife--Red Line</option>
			<option value='Haymarket Green Line'>Haymarket--Green Line</option>
			<option value='Government Center Green Line'>Government Center--Green Line</option>
			<option value='Park St Green Line'>Park St--Green Line</option>
			<option value='Boylston Green Line'>Boylston--Green Line</option>
			<option value='Arlington Green Line'>Arlington--Green Line</option>
			<option value='Copley Green Line'>Copley--Green Line</option>
			</select>
		</div>
		<div id='second_menu'>
			End at
			<select name='End_trip'>
			<option value='North Station Orange Line'>North Station--Orange Line</option>
			<option value='Haymarket Orange Line'>Haymarket--Orange Line</option>
			<option value='Park St Orange Line'>Park St--Orange Line</option>
			<option value='State Orange Line'>State--Orange Line</option>
			<option value='Downtown Crossing Orange Line'>Downtown Crossing--Orange Line</option>
			<option value='Chinatown Orange Line'>Chinatown--Orange Line</option>
			<option value='Back Bay Orange Line'>Back Bay--Orange Line</option>
			<option value='Forest Hills Orange Line'>Forest Hills--Orange Line</option>
			<option value='South Station Red Line'>South Station--Red Line</option>
			<option value='Park St Red Line'>Park St--Red Line</option>
			<option value='Kendall Red Line'>Kendall--Red Line</option>
			<option value='Central Red Line'>Central--Red Line</option>
			<option value='Harvard Red Line'>Harvard--Red Line</option>
			<option value='Porter Red Line'>Porter--Red Line</option>
			<option value='Davis Red Line'>Davis--Red Line</option>
			<option value='Alewife Red Line'>Alewife--Red Line</option>
			<option value='Haymarket Green Line'>Haymarket--Green Line</option>
			<option value='Government Center Green Line'>Government Center--Green Line</option>
			<option value='Park St Green Line'>Park St--Green Line</option>
			<option value='Boylston Green Line'>Boylston--Green Line</option>
			<option value='Arlington Green Line'>Arlington--Green Line</option>
			<option value='Copley Green Line'>Copley--Green Line</option>
			</select>
		</div>
			<input type='submit' value='Submit Trip'/>
	</form>
</div>