<!DOCTYPE html>
<html>
<head>
	<style type='text/css'>
		h1 {font: 60px Helvetica}
		p {font: 50px Helvetica;}
		form, input {font: 20px Helvetica;}
		#logo {float:left}
		select, input {font: 17px Helvetica;}
		#button {font-size: 30px; border: 5px solid black; margin-left: 675px;}
	</style>
	<title>MBTA Trip Planner</title>
</head>
<body>
	<div id='header'>
		<img id='logo' src='http://hubbusiness.com/wp-content/uploads/T-logo.jpg' alt='mbta logo' />
		<h1>MBTA Trip Planner</h1>
	</div>
	<%= yield %>
</body>
</html>