<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MBTA Trip Planner</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet' type='text/css'>
</head>
<body>

<h1 class='blood' ><%= @heading %></h1>
<%= yield %>

<img src="http://dealbreaker.com/uploads/2012/03/bats-halloween-clipart.png">

<div>
<a id="swag" href="https://generalassemb.ly/education/web-development-immersive"><img src="http://ga.bling.phillbaker.com/images/shield_imagined_ga_wdi.png" alt="wdi" /></a>
</div>


</body>
</html>
