<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MBTA Trip Planner</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet' type='text/css'>
</head>
<body>
<h1><%= @heading %></h1>
<%= yield %>
<img src="http://dealbreaker.com/uploads/2012/03/bats-halloween-clipart.png">
</body>
</html>