<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>MBTA Trip Planner</title>
</head>
<body>
  <h1>MBTA Stop Calculator</h1>
  <img src="http://wp.streetwise.co/wp-content/uploads/2012/08/url.png" alt="MBTA T logo" />
  <%= yield %>
</body>
</html>