<!DOCTYPE html>
<html>
<head>
	<title>MBTA Rides</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>MBTA Trip Planner</h1>
	<%= yield %>
</body>
</html>