	<h2>It's the MBTA!</h2>
	START STATION:
	<form action="/mbta/ride" method='post'>
		<select name="startpoint">
			<!-- red line -->
			<option value='red,South Station'>South Station</option>
			<option value='red,Park Street'>Park Street (red)</option>
			<option value='red,Kendall'>Kendall</option>
			<option value='red,Central'>Central</option>
			<option value='red,Harvard'>Harvard</option>
			<option value='red,Porter'>Porter</option>
			<option value='red,Davis'>Davis</option>
			<option value='red,Alewife'>Alewife</option>
			<!-- orange line -->
			<option value="orange,North Station">North Station</option>
			<option value="orange,Haymarket">Haymarket (orange)</option>
			<option value="orange,Park Street">Park Street (orange)</option>
			<option value="orange,State">State</option>
			<option value="orange,Downtown Crossing">Downtown Crossing</option>
			<option value="orange,Chinatown">Chinatown</option>
			<option value="orange,Back Bay">Back Bay</option>
			<option value="orange,Forest Hills">Forest Hills</option>
			<!-- green line -->
			<option value="green,Copley">Copley</option>
			<option value="green,Arlington">Arlington</option>
			<option value="green,Boylston">Boylston</option>
			<option value="green,Park Street">Park Street (green)</option>
			<option value="green,Government Center">Government Center</option>
			<option value="green,Haymarket">Haymarket (green)</option>
		</select>

	END STATION:
		<select name="endpoint">
			<!-- red line -->
			<option value='red,South Station'>South Station</option>
			<option value='red,Park Street'>Park Street (red)</option>
			<option value='red,Kendall'>Kendall</option>
			<option value='red,Central'>Central</option>
			<option value='red,Harvard'>Harvard</option>
			<option value='red,Porter'>Porter</option>
			<option value='red,Davis'>Davis</option>
			<option value='red,Alewife'>Alewife</option>
			<!-- orange line -->
			<option value="orange,North Station">North Station</option>
			<option value="orange,Haymarket">Haymarket (orange)</option>
			<option value="orange,Park Street">Park Street (orange)</option>
			<option value="orange,State">State</option>
			<option value="orange,Downtown Crossing">Downtown Crossing</option>
			<option value="orange,Chinatown">Chinatown</option>
			<option value="orange,Back Bay">Back Bay</option>
			<option value="orange,Forest Hills">Forest Hills</option>
			<!-- green line -->
			<option value="green,Copley">Copley</option>
			<option value="green,Arlington">Arlington</option>
			<option value="green,Boylston">Boylston</option>
			<option value="green,Park Street">Park Street (green)</option>
			<option value="green,Government Center">Government Center</option>
			<option value="green,Haymarket">Haymarket (green)</option>

		</select>
	<input type='submit' value='GO!'/>
	</form>