<div align="center">

<img src="http://wp.streetwise.co/wp-content/uploads/2012/08/url.png" width="100px"/>
<br/><br/>

<h3>Start Location: <em><%= @start_station %></em></h3>

<h3>End Location: <em><%= @end_station %></em></h3>

<h2>Travel Distance: &nbsp;<%= @distance %> stops</h2>

</div>