<div id='form'>
	<form action='/mbta/stops' method='post'>
		ORIGIN
		<select name='origin_stop'>
			<option value='South Station,red'>Red, South Station</option>
			<option value='Park St.,red'>Red, Park St.</option>
			<option value='Kendall,red'>Red, Kendall</option>
			<option value='Central,red'>Red, Central</option>
			<option value='Harvard,red'>Red, Harvard</option>
			<option value='Porter,red'>Red, Porter</option>
			<option value='Alewife,red'>Red, Alewife</option>
			<option value='Haymarket,green'>Green, Haymarket</option>
			<option value='Government Center,green'>Green, Government Center</option>
			<option value='Park St.,green'>Green, Park St.</option>
			<option value='Boylston,green'>Green, Boylston</option>
			<option value='Arlington,green'>Green, Arlington</option>
			<option value='Copley,green'>Green, Copley</option>
			<option value='North Station,orange'>Orange, North Station</option>
			<option value='Haymarket,orange'>Orange, Haymarket</option>
			<option value='Park St.,orange'>Orange, Park St.</option>
			<option value='State Street,orange'>Orange, State Street</option>
			<option value='Downtown Crossing, orange'>Orange, Downtown Crossing</option>
			<option value='Chinatown,orange'>Orange, Chinatown</option>
			<option value='Back Bay,orange'>Orange, Back Bay</option>
			<option value='Forest Hills,orange'>Orange, Forest Hills</option>
		</select>
		<br /><br />
		DESTINATION
		<select name='destination_stop'>
			<option value='South Station,red'>Red, South Station</option>
			<option value='Park St.,red'>Red, Park St.</option>
			<option value='Kendall,red'>Red, Kendall</option>
			<option value='Central,red'>Red, Central</option>
			<option value='Harvard,red'>Red, Harvard</option>
			<option value='Porter,red'>Red, Porter</option>
			<option value='Alewife,red'>Red, Alewife</option>
			<option value='Haymarket,green'>Green, Haymarket</option>
			<option value='Government Center,green'>Green, Government Center</option>
			<option value='Park St.,green'>Green, Park St.</option>
			<option value='Boylston,green'>Green, Boylston</option>
			<option value='Arlington,green'>Green, Arlington</option>
			<option value='Copley,green'>Green, Copley</option>
			<option value='North Station,orange'>Orange, North Station</option>
			<option value='Haymarket,orange'>Orange, Haymarket</option>
			<option value='Park St.,orange'>Orange, Park St.</option>
			<option value='State Street,orange'>Orange, State Street</option>
			<option value='Downtown Crossing, orange'>Orange, Downtown Crossing</option>
			<option value='Chinatown,orange'>Orange, Chinatown</option>
			<option value='Back Bay,orange'>Orange, Back Bay</option>
			<option value='Forest Hills,orange'>Orange, Forest Hills</option>
		</select>
		<br /><br />
		<input id='button' type='submit' value='Submit'>
	</form>
</div>