<form action="create" method='post'>
  <select name="origin_start">
  <option value="red line-south st">Red-South St</option>
  <option value="red line-park st">Red-Park St</option>
  <option value="red line-kendall">Red-Kendall</option>
  <option value="red line-central">Red-Central</option>
  <option value="red line-harvard">Red-Harvard</option>
  <option value="red line-porter">Red-Porter</option>
  <option value="red line-davis">Red-Davis</option>
  <option value="red line-alewife">Red-Alewife</option>
  <!-- <option value="green line">Green Line</option>
  <option value="orange line">Orange Line</option> -->
</select>

  <select name="origin_stop">
  <option value="red line-south st">Red-South St</option>
  <option value="red line-park st">Red-Park St</option>
  <option value="red line-kendall">Red-Kendall</option>
  <option value="red line-central">Red-Central</option>
  <option value="red line-harvard">Red-Harvard</option>
  <option value="red line-porter">Red-Porter</option>
  <option value="red line-davis">Red-Davis</option>
  <option value="red line-alewife">Red-Alewife</option>
<!--   <option value="green line">Green Line</option>
  <option value="orange line">Orange Line</option>-->
</select>
  <input type='submit' value="submit"/>
</form> 