<form action="/trip/create" method="post">
<!-- start station drop down -->
<select name="start_station">

<!-- red line -->
<option value="south_station">Red- South Station</option>
<option value="park_st">Red- Park St</option>
<option value="kendall">Red- Kendall</option>
<option value="central">Red- Central</option>
<option value="harvard">Red- Harvard</option>
<option value="porter">Red- Porter</option>
<option value="davis">Red- Davis</option>
<option value="alewife">Red- Alewife</option>
<!-- green line -->
<option value="haymarket_green">Green- Haymarket</option>
<option value="government_center">Green- Gov't Center</option>
<option value="park_st">Green- Park St</option>
<option value="boylston">Green- Boylston</option>
<option value="arlington">Green- Arlington</option>
<option value="copley">Green- Copley</option>
<!-- orange line -->
<option value="north_station">Orange- North Station</option>
<option value="haymarket">Orange- Haymarket</option>
<option value="park_st">Orange- Park St</option>
<option value="state">Orange- State</option>
<option value="downtown_crossing">Orange- Downtown Crossing</option>
<option value="chinatown">Orange- Chinatown</option>
<option value="back_bay">Orange- Back Bay </option>
<option value="forest_hills">Orange- Forest Hills</option>
</select>

<!-- end station drop down -->
<select name="end_station">
<!-- red line -->
<option value="south_station">Red- South Station</option>
<option value="park_st">Red- Park St</option>
<option value="kendall">Red- Kendall</option>
<option value="central">Red- Central</option>
<option value="harvard">Red- Harvard</option>
<option value="porter">Red- Porter</option>
<option value="davis">Red- Davis</option>
<option value="alewife">Red- Alewife</option>
<!-- green line -->
<option value="haymarket_green">Green- Haymarket</option>
<option value="government_center">Green- Gov't Center</option>
<option value="park_st">Green- Park St</option>
<option value="boylston">Green- Boylston</option>
<option value="arlington">Green- Arlington</option>
<option value="copley">Green- Copley</option>
<!-- orange line -->
<option value="north_station">Orange- North Station</option>
<option value="haymarket">Orange- Haymarket</option>
<option value="park_st">Orange- Park St</option>
<option value="state">Orange- State</option>
<option value="downtown_crossing">Orange- Downtown Crossing</option>
<option value="chinatown">Orange- Chinatown</option>
<option value="back_bay">Orange- Back Bay </option>
<option value="forest_hills">Orange- Forest Hills</option>
</select>
<!-- submit button -->
<input type='submit' value = 'Calculate Trip'></input>
</form>

