body {
	font-family: Helvetica;
	text-align: center;
	font-size: 40px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	background: url('http://www.boston.com/yourtown/news/assets_c/2013/05/crowded%20Red%20Line%20May%202013-thumb-520x388-102648.jpg') no-repeat fixed;
	background-size: cover;
}

#form {
	font-size: 18px;
	border: 0;
}

select {
	border: 0;
}

input {
	border: 0;
}

